<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SISTEMA WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link" href="/">Cadastrar</a>
                    <a class="nav-link active" aria-current="page" href="/consultar">Consultar</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container mt-3 mb-3">
        <h5 class="mb-4">Cadastrar - Agendamento de Ponteciais Clientes</h5>
        <h6>Sistema utilizado para agendamento de serviços</h6>
    </div>
    <table class="table table-dark bg-primary text-center">
        <thead>
            <tr>
            <th scope="col">Nome</th>
            <th scope="col">Telefone</th>
            <th scope="col">Origem</th>
            <th scope="col">Data do contato</th>
            <th scope="col">Obersação</th>
            </tr>
        </thead>
    </table>    
</div>


